.cardMaker {
  flex-basis: 50%;
  overflow-y: auto;
}

.title {
  font-size: 36px;
  text-align: center;
}

.formContainer {
  padding: 0.5em 2em;
}

@media screen and (max-width: 1280px) {
  .cardMaker {
    width: 100%;
  }
}
