.container,
.contents {
  width: 450px;
  height: 220px;
  text-align: center;
  /* border: 1px solid black; */
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.contents > button {
  width: 360px;

  border-radius: 1.5rem;
  padding: 10px;
  margin: 10px 0px;

  background-color: white;
}
